
body{
    background-color: #1365a1;
    margin: 20px;
}
h1{
    color: #fff;
    font-family: "Copperplate Gothic Bold", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.btn{
    margin: 20px;
    font-family: "Copperplate Gothic Bold";
    color: #052a09;
}

section{
    background: #0c3b5a;
    display: block;
    width: auto;
    height: 100%;

}
 .part2{
    font-weight: 300;
     font-size: 20px;
    color: #FFFFFF;
}

